a:link 
{ 
 text-decoration:none; 
}

#loca
{
	float : left;
	text-align: center;
	font-size : 28px;
}

.aligne
{
	padding : 0 15px, 0 15px;
	text-align: center;
	float : left;
	height : 156px;
	width : 96px; 
}

.color
{
    background-color: #f9f9f9;
    width: 100%;
    margin-left: 0px;
    height: 170px;
}

.slide div img
{
  margin-top: 2px;
  width: 150px;
  height: 150px; 
  animation-duration: 10s;
  animation-name: glissement;
  animation-iteration-count: infinite;
}

.slide div:hover img 
{
  animation-iteration-count: infinite; 
}

@keyframes glissement 
{
  from 
    {
        margin-left: 0%;
    }

  to 
    {
        margin-left: 92%;
    }
}

@font-face 
{    
    font-family: 'Jurassic-Park'; 
    src:url('Jurassic-Park.ttf.woff');
}

h1
{
    text-align: center;
    font-family: 'Jurassic-Park';
    font-size: 150px;
    text-shadow: 2px 2px #FF0000;
}

footer
{
    text-align: center;
    font-size: 18px;
    background-color: #f9f9f9;
    height: 28px;
    font-weight: bold;

}